* {
    font-family: "Roboto", sans-serif;
}

.bmi-calculator {
    background: linear-gradient(to top left, #330033, #ffffff);
    height: 100%;
    padding-top: 12rem;
    padding-bottom: 12rem;
}


.bmi-calculator .bmi-calculator-container {
    max-width: 768px;
    background-color: #f7f6f6f9;
    border-radius: 20px;
}

.image-status {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .image-status {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .image-status {
        width: 100%;
    }
}